---
import { servicesInfo } from '@helpers/servicesInfo';
import { t } from 'i18next';
import ServiceCard from './ServiceCard.astro';
---

<section
	id='services'
	class='container mx-auto flex flex-col items-center justify-center gap-10 p-10 pt-20'
>
	<h3
		class='text-center text-2xl font-semibold text-foreground sm:text-left sm:text-3xl md:text-4xl lg:text-5xl'
	>
		{t('home.services.title')}
	</h3>
	<aside class='grid items-center gap-12 gap-y-unit-xl sm:grid-cols-2 lg:gap-20'>
		{
			servicesInfo.map((service) => (
				<ServiceCard
					title={service.title}
					href={service.href}
					hasGradient={service.hasGradient}
					id={service.id}
					img={service.img}
					text={service.text}
				/>
			))
		}
	</aside>
</section>
