---
import { rootImages } from '@core/rootImages';
import { Image } from 'astro:assets';

/**
 * Represents an array of arrays of objects containing properties of technologies.
 * @type {Array<Array<{ img: string, alt: string }>>} TechnologiesProps.
 */
type TechnologiesProps = {
	img: string;
	alt: string;
}[][];

// Technologies images root paths
const technologiesPath = rootImages.technologies;
const linesPath = rootImages.technologies.techLines;
const techIcons = rootImages.technologies.techIcons;

/**
 * Constant containing an array of technology object arrays.
 * @type {TechnologiesProps}
 */
const technologies: TechnologiesProps = [
	[
		{
			img: technologiesPath.python,
			alt: 'Astro',
		},
		{
			img: technologiesPath.javascript,
			alt: 'Javascript',
		},
		{
			img: technologiesPath.typescript,
			alt: 'Typescript',
		},
		{
			img: technologiesPath.css,
			alt: 'CSS',
		},
		{
			img: technologiesPath.react,
			alt: 'React',
		},
		{
			img: technologiesPath.next,
			alt: 'Next',
		},
		{
			img: technologiesPath.angular,
			alt: 'Angular',
		},
		{
			img: technologiesPath.astro,
			alt: 'Astro',
		},
		{
			img: technologiesPath.vue,
			alt: 'Vue',
		},
	],
	[
		{
			img: technologiesPath.django,
			alt: 'Django',
		},
		{
			img: technologiesPath.node,
			alt: 'Node',
		},
		{
			img: technologiesPath.express,
			alt: 'Express',
		},
		{
			img: technologiesPath.mongodb,
			alt: 'Mongo',
		},
		{
			img: technologiesPath.flask,
			alt: 'Postgress',
		},
		{
			img: technologiesPath.Xd,
			alt: 'Xd',
		},
		{
			img: technologiesPath.Ai,
			alt: 'Ai',
		},
		{
			img: technologiesPath.figma,
			alt: 'Figma',
		},
	],
	[
		{
			img: techIcons.ai,
			alt: 'ai',
		},
		{
			img: techIcons.css,
			alt: 'css',
		},
		{
			img: techIcons.figma,
			alt: 'figma',
		},
		{
			img: techIcons.gmail,
			alt: 'gmail',
		},
		{
			img: techIcons.html,
			alt: 'html',
		},
		{
			img: techIcons.in,
			alt: 'in',
		},
		{
			img: techIcons.js,
			alt: 'js',
		},
		{
			img: techIcons.node,
			alt: 'node',
		},
		{
			img: techIcons.react,
			alt: 'react',
		},
		{
			img: techIcons.twitter,
			alt: 'twitter',
		},
		{
			img: techIcons.xd,
			alt: 'xd',
		},
	],
];

const randomPositionY = Array.from({ length: technologies[2].length }, () =>
	Math.ceil(Math.floor(Math.random() * (100 + 1)))
);
const randomPositionX = Array.from({ length: technologies[2].length }, () =>
	Math.ceil(Math.floor(Math.random() * (20 + 1)))
);
---

<section
	id='technologies'
	class='xs: mx-auto flex w-0 flex-row items-center justify-center gap-3 p-10 md:container'
>
	<div class='relative flex flex-col gap-3'>
		<div class='flex flex-row gap-0.5 xs:gap-1 sm:gap-2 md:gap-3 lg:gap-4'>
			{
				technologies[0].map((info) => (
					<div class='flex h-7 w-7 items-center justify-center rounded-full bg-[#251C31] xs:h-[30px] xs:w-[30px] sm:h-[45px] sm:w-[45px] md:h-[50px] md:w-[50px] lg:h-[65px] lg:w-[65px]'>
						<Image
							src={info.img}
							alt={info.alt}
							width={20}
							height={20}
							class='h-5 w-5 xs:h-[20px] xs:w-[20px] sm:h-[30px] sm:w-[30px] md:h-[35px] md:w-[35px] lg:h-[40px] lg:w-[40px]'
						/>
					</div>
				))
			}
		</div>
		<div>
			<div class='relative flex flex-row justify-center gap-0.5 xs:gap-1 sm:gap-2 md:gap-3'>
				{
					technologies[1].map((info) => {
						const node = info.alt.includes('Node');
						const express = info.alt.includes('Express');

						return (
							<div class='flex h-7 w-7 items-center justify-center rounded-full bg-[#251C31] xs:h-[30px] xs:w-[30px] sm:h-[45px] sm:w-[45px] md:h-[50px] md:w-[50px] lg:h-[65px] lg:w-[65px]'>
								<Image
									src={info.img}
									alt={info.alt}
									width={20}
									height={20}
									class={`h-5 w-5 ${
										node
											? 'xs:h-7 xs:w-7 sm:h-14 sm:w-14'
											: express
											? 'xs:h-8 xs:w-8 sm:h-16 sm:w-16'
											: 'xs:h-[20px] xs:w-[20px] sm:h-[30px] sm:w-[30px] md:h-[35px] md:w-[35px] lg:h-10 lg:w-10'
									}
									`}
								/>
							</div>
						);
					})
				}
			</div>
		</div>

		<div class='hidden w-[100%] flex-row items-center justify-center gap-[2rem] xs:flex'>
			<img
				src={linesPath.firstLine}
				alt='firstLine'
				class='absolute h-[65%] xs:left-[13%] xs:top-[16%] sm:left-[12%] sm:top-[20%] lg:left-[15%] lg:right-[15%] lg:top-[18%]'
			/>
			<img
				src={linesPath.secondLine}
				alt='secondLine'
				class='absolute h-[65%] xs:left-[24%] xs:top-[16%] sm:top-[20%] lg:left-[24%] lg:right-[24%] lg:top-[19%]'
			/>
			<img
				src={linesPath.thirdLine}
				alt='thirdLine'
				class='absolute h-[65%] xs:left-[35%] xs:top-[16%] sm:top-[20%] lg:left-[35%] lg:right-[35%] lg:top-[19%]'
			/>
			<img
				src={linesPath.fourthLine}
				alt='fourthLine'
				class='absolute h-[65%] xs:left-[44%] xs:top-[16%] sm:top-[20%] lg:left-[45%] lg:right-[45%] lg:top-[19%]'
			/>
			<img
				src={linesPath.fifthLine}
				alt='fifthLine'
				class='absolute h-[65%] xs:left-[44%] xs:top-[16%] sm:left-[47%] sm:top-[20%] lg:left-[48%] lg:right-[48%] lg:top-[19%]'
			/>
			<img
				src={linesPath.sixthLine}
				alt='sixthyLine'
				class='absolute h-[65%] xs:left-[42%] xs:top-[16%] sm:left-[48%] sm:top-[20%] lg:left-[49%] lg:right-[49%] lg:top-[19%]'
			/>
			<img
				src={linesPath.seventhLine}
				alt='sevenLine'
				class='absolute h-[65%] xs:left-[36%] xs:top-[16%] sm:left-[48%] sm:top-[20%] lg:left-[47%] lg:right-[47%] lg:top-[19%]'
			/>
			<img
				src={linesPath.eighthline}
				alt='eigthLine'
				class='absolute h-[65%] xs:left-[47%] xs:top-[16%] sm:left-[59%] sm:top-[20%] lg:left-[58%] lg:right-[58%] lg:top-[19%]'
			/>
		</div>

		<div
			class='xl:mt[85%] flex justify-center xs:mt-[98px] sm:mt-[120px] md:mt-[200px] lg:mt-[40%]'
		>
			<!-- <div
				id='first-border-line'
				class='absolute bottom-4 top-[66%] h-[269px] rounded-[50%] border-b-1 border-solid border-primary-400 sm:w-[681px]'
			>
			</div> -->
			<div
				id='first-border-line'
				class='absolute top-[40%] flex h-[150px] w-[270px] items-center justify-center rounded-[50%] border border-solid border-primary-400 xs:top-[60%] xs:w-[300px] sm:top-[60%] sm:h-[230px] sm:w-[600px] md:bottom-4 md:h-[230px] md:w-[730px] lg:top-[78%] lg:h-[250px] lg:w-[781px] xl:h-[250px] xl:w-[981px]'
				style='clip-path: ellipse(100% 98% at 50% 100%); '
			>
				<!-- tecnologies icons start here -->
				<img
					src={techIcons.ai}
					alt='ai'
					class='absolute right-[70%] top-[5%] z-10 h-[25px] w-[25px]'
				/>

				<img
					src={techIcons.css}
					alt='css'
					class='absolute bottom-[20%] right-[90%] z-10 h-[25px] w-[25px]'
				/>

				<img
					src={techIcons.figma}
					alt='figma'
					class='absolute bottom-[10%] left-[85%] z-10 h-[25px] w-[25px]'
				/>
				<img
					src={techIcons.gmail}
					alt='gmail'
					class='absolute bottom-[50%] right-[83%] z-10 h-[25px] w-[25px]'
				/>
				<img
					src={techIcons.html}
					alt='html'
					class='absolute left-[74%] top-[8%] z-10 h-[25px] w-[25px]'
				/>
				<img
					src={techIcons.in}
					alt='linkedIn'
					class='absolute right-[82%] top-[10%] z-10 h-[25px] w-[25px]'
				/>
				<img
					src={techIcons.js}
					alt='javascript'
					class='absolute left-[82%] top-[10%] z-10 h-[25px] w-[25px]'
				/>
				<img
					src={techIcons.node}
					alt='node'
					class='absolute bottom-[45%] left-[98%] z-10 h-[25px] w-[25px]'
				/>
				<img
					src={techIcons.react}
					alt='react'
					class='absolute bottom-[68%] left-[90%] z-10 h-[25px] w-[25px]'
				/>
				<img
					src={techIcons.twitter}
					alt='twitter'
					class='absolute bottom-[20%] right-[78%] z-10 h-[25px] w-[25px]'
				/>
				<img
					src={techIcons.xd}
					alt='xd'
					class='absolute bottom-[38%] left-[89%] z-10 h-[25px] w-[25px]'
				/>

				<!-- {
					technologies[2].map((info, idx) => {
						return (
							<img
								src={info.img}
								alt={info.alt}
								class={`absolute right-[${[
									-56, -35, -45, -76, -87, -79, -96, -99, -89, -49,
								]}%] top-[${idx}%] z-10 h-[25px] w-[25px]`}
							/>
						);
					})
				} -->
				<div
					id='second-border-line'
					class='absolute flex h-[150px] w-[240px] items-center justify-center rounded-[50%] border border-solid border-primary-400 xs:w-[270px] sm:h-[230px] sm:w-[520px] md:h-[230px] md:w-[610px] lg:h-[250px] lg:w-[681px] xl:w-[781px]'
					style='clip-path: ellipse(100% 98% at 50% 100%); '
				>
					<div
						id='center-border-line'
						class='absolute h-[115px] w-[190px] rounded-[50%] border border-solid border-primary-400 xs:w-[220px] sm:h-[230px] sm:w-[440px] md:h-[230px] md:w-[500px] lg:h-[250px] lg:w-[581px] xl:w-[681px]'
						style='clip-path: ellipse(100% 98% at 50% 100%); '
					>
					</div>
				</div>
			</div>
			<div
				class='top-6 flex h-60 w-full flex-col items-center justify-center rounded-[542px] bg-[radial-gradient(50%_40%_at_50%_50%,_#763CAC_0%,_rgba(50,_15,_133,_0)_100%)] md:h-[200px] md:w-[450px] lg:w-[400px] xl:h-[280px] xl:w-[550px]'
			>
				<div
					id='first-border-line'
					class='absolute h-[100px] w-[100px] rounded-[50%] border-b-2 border-solid border-primary-400 xs:bottom-[15%] sm:bottom-[13%] sm:h-[110px] sm:w-[110px] md:bottom-4 md:h-[110px] md:w-[190px] lg:h-[100px] lg:w-[220px] xl:h-[140px] xl:w-[250px]'
				>
				</div>
				<div
					id='second-border-line'
					class='absolute h-[90px] w-[80px] rounded-[50%] border-b-2 border-solid border-primary-400 xs:bottom-[13%] sm:bottom-[11%] sm:h-[90px] sm:w-[80px] md:bottom-4 md:top-[79%] md:h-[120px] md:w-[150px] lg:top-[81%] lg:h-[140px] lg:w-[160px] xl:top-[77%] xl:h-[170px] xl:w-[220px]'
				>
				</div>
				<div
					class='flex h-24 w-24 items-center justify-center rounded-full bg-[linear-gradient(180deg,_rgba(48,_16,_128,_0.60)_0%,_rgba(120,_64,_173,_0.36)_100%)] md:h-44 md:w-44'
				>
					<Image
						src={rootImages.technologies.crossLogo}
						alt='div-software-logo'
						width={80}
						height={80}
						class='h-20 w-20 transform transition-transform hover:animate-[spin_5s_ease-in-out_infinite] md:h-32 md:w-32'
					/>
				</div>
			</div>
		</div>
	</div>
</section>
